body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.books,
.add-books {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.books h1 {
  font-weight: 700;
  font-size: 45px;
}

hr {
  width: 20vw;
}

form input {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.flex-centered {
  display: flex;
  justify-content: center;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
}

.flex-center-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
}

.bordered {
  width: 50vw;
  border: 4px solid black;
  border-radius: 2px;
}

* {
  font-family: "Lato", sans-serif;
}

.w-100 {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.book-title-authors {
  padding: 1rem 0.3rem;
}

.removes {
  height: 75%;
  margin-top: 4%;
  border: 2px solid black;
  width: 150px;
}

#evens {
  background-color: #ddd;
}

.title-input-group p {
  font-size: 30px;
}
