body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family: "Lato", sans-serif;
}

nav ul,
.copyright {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 70vw;
  font-size: 20px;
  font-weight: 700;
  border: 3.5px solid #000;
  padding: 1rem;
  border-radius: 5px;
}

.copyright {
  left: 15%;
  bottom: 2%;
  margin-top: 14%;
}

a {
  text-decoration: none;
  color: #000;
}

body nav .date {
  position: absolute;
  right: 14vw;
  top: 12%;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  gap: 2px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

a:hover {
  cursor: pointer;
  color: #476a8b;
}

.hidden,
.hidden * {
  display: none;
}

.visible,
.visible * {
  display: block;
}

.active a {
  color: #476a8b;
}

.inactive a {
  color: #000;
}

nav ul li:hover {
  color: #476a8b;
}

nav {
  margin-bottom: 1rem;
}

.title-input-group p {
  font-size: 30px;
  font-weight: 600;
}

.book-title-authors,
.removes p,
#add-books p,
.contact {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 1px;
}

.books,
.add-books {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.books h1 {
  font-weight: 700;
  font-size: 45px;
}

hr {
  width: 20vw;
}

input {
  width: 200px;
  height: 25px;
  border: 3px solid #000;
  font-size: 16px;
  font-weight: 600;
}

form input {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.flex-centered {
  display: flex;
  justify-content: center;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
}

.flex-center-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bordered {
  width: 50vw;
  border: 3.5px solid black;
  border-radius: 5px;
}

.w-100 {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.book-title-authors {
  padding: 1rem 0.3rem;
}

.removes {
  height: 75%;
  margin-top: 4%;
  border: 2px solid black;
  width: 150px;
  box-shadow: 5px 5px;
  margin-right: 8px;
}

#evens {
  background-color: #ddd;
}

.title-input-group hr {
  height: 3px;
  border-radius: 3px;
  background-color: #000;
  width: 60%;
  margin-top: 1rem;
}

#add-books {
  width: 100px;
  height: 50px;
  box-shadow: 5px 5px;
  border: 2px solid black;
}

.relative {
  position: relative;
}

.list {
  min-height: 51.5vh;
}

.absolute-bottom {
  position: absolute;
  bottom: 15%;
}

.title h1 {
  font-size: 27px;
}

.all-books {
  min-height: 60.5vh;
}

.copyrights {
  margin-top: -5rem;
}
